<ng-container *ngIf="staff?.length !== 0; else noItems">
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ng-container
      *ngFor="let staffMember of staff | filterStaffPipe: searchTerm"
    >
      <ion-item-sliding>
        <ion-item>
          <ion-avatar slot="start">
            <ngx-avatar [name]="staffMember.fullName" [src]="" size="40">
            </ngx-avatar>
          </ion-avatar>
          <ion-label>
            <h2>{{ staffMember.fullName }}</h2>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option
            color="danger"
            (click)="deleteStaffMember(staffMember)"
          >
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option
            color="primary"
            (click)="editStaffMember(staffMember)"
          >
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ng-container>

<ng-template #noItems>
  <app-empty-content
    [hidden]="loading"
    [message]="'There are no staff members in this office.'"
  ></app-empty-content>
</ng-template>
<app-skeleton-list *ngIf="loading" [avatar]="true"></app-skeleton-list>
