<ion-app>
  <ion-content>
    <ion-grid>
      <h1 class="ion-padding-start">All Offices</h1>
      <ng-container *ngIf="!loading">
        <ng-container *ngIf="companies?.length !== 0; else noItems">
          <app-company-card
            *ngFor="let company of companies"
            [company]="company"
            [showView]="true"
            (viewOffice)="viewOffice(company)"
          ></app-company-card>
        </ng-container>
        <ng-template #noItems>
          <app-empty-content
            [message]="'No office spaces have been created.'"
          ></app-empty-content>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="loading">
        <app-skeleton-card></app-skeleton-card>
        <app-skeleton-card></app-skeleton-card>
      </ng-container>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addOffice()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
