<ion-card class="ion-margin-bottom">
  <ion-card-header>
    <ion-row class="ion-justify-content-center">
      <ion-card-title class="ion-padding-end">
        {{ company.name }}
      </ion-card-title>
      <a *ngIf="showView" (click)="viewOffice.emit()"
        ><ion-icon
          name="arrow-forward-outline"
          class="company-details-icon"
        ></ion-icon
      ></a>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-icon
        name="people-circle-outline"
        color="tertiary"
        class="ion-padding-end company-details-icon"
      ></ion-icon>
      <p>{{ numberOfStaff }} Staff Members in Office</p>
    </ion-row>
    <ion-item-divider class="ion-margin-bottom"></ion-item-divider>
    <ng-container *ngIf="!expanded; else companyDetails">
      <ion-row *ngIf="!toggle" class="ion-justify-content-center">
        <p class="ion-padding-end">More info</p>
        <a (click)="toggleInfo()"
          ><ion-icon
            name="chevron-down-outline"
            color="primary"
            class="company-details-icon"
          ></ion-icon
        ></a>
      </ion-row>
      <ng-container *ngIf="toggle">
        <ion-row class="ion-justify-content-center ion-margin-bottom">
          <p class="ion-padding-end">Less info</p>
          <a (click)="toggleInfo()"
            ><ion-icon
              name="chevron-up-outline"
              color="primary"
              class="company-details-icon"
            ></ion-icon
          ></a>
        </ion-row>
        <ng-template [ngTemplateOutlet]="companyDetails"></ng-template>
      </ng-container>
    </ng-container>
  </ion-card-content>
</ion-card>

<ng-template #companyDetails>
  <ion-row class="ion-margin-bottom">
    <ion-icon
      name="call-outline"
      color="primary"
      class="ion-padding-end company-details-icon"
    ></ion-icon>
    <p>{{ company.phoneNumber }}</p>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-icon
      name="mail-outline"
      color="primary"
      class="ion-padding-end company-details-icon"
    ></ion-icon>
    <p>{{ company.email }}</p>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-icon
      name="people-outline"
      color="primary"
      class="ion-padding-end company-details-icon"
    ></ion-icon>
    <p>Office capacity: {{ company.capacity }}</p>
  </ion-row>
  <ion-row>
    <ion-icon
      name="location-outline"
      color="primary"
      class="ion-padding-end company-details-icon"
    ></ion-icon>
    <p>{{ company.address }}</p>
  </ion-row>
</ng-template>
