<ion-header>
  <ion-toolbar>
    <ion-title class="ion-justify-content-center">Edit Staff Member</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label class="required" position="stacked">First Name</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="firstName"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-text
      *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      class="ion-padding-start"
      color="danger"
    >
      <small>{{ firstNameError }}</small>
    </ion-text>

    <ion-item>
      <ion-label class="required" position="stacked">Last Name</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        formControlName="lastName"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-text
      *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
      class="ion-padding-start"
      color="danger"
    >
      <small>{{ lastNameError }}</small>
    </ion-text>
  </form>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button type="cancel" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        fill="solid"
        color="secondary"
        (click)="onSubmit()"
        [disabled]="!this.form.valid || busy"
      >
        <ion-spinner *ngIf="busy" class="ion-margin-end"></ion-spinner>
        Update
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
